.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  height: 100px;
  background-color: black;
  color: yellow;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userData {
  background-color: white;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.userData table {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: black;
}

.userData tbody {
  background-color: yellow;
  font-weight: bold;
}

.userData thead {
  color: yellow;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
}

.pagination input {
  padding: 3.6px 6px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
}

.arrow {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid black;
  background-color: yellow;
}

.btnAddPost {
  border: black solid 5px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  margin-left: 40%;
  background-color: black;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  border: black solid 5px;
  width: 300px;
  height: 400px;
}

.postBody {
  height: 80px;
  width: 280px;
}

.btnSave {
  background-color: #9fc131;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.btnCancel {
  background-color: #ff0000;
  width: 80px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btnClear {
  background-color: orange;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.btnEdit {
  background-color: green;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
}
.modal h4 {
  color: white;
}

.tableTitle {
  color: yellow;
}

.userDropDown {
  width: 200px;
  height: 25px;
  background-color: yellow;
  border: 1px solid black;
  font-weight: bold;
  font-size: 15px;
}

.btnDelete {
  background-color: red;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
}

.btnView {
  background-color: #0047ab;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
  text-decoration: none;
  vertical-align: inherit;
}

.btnView a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.iv {
  color: blue;
  margin-left: 50px;
  margin-top: 20px;
}

.v {
  color: red;
  margin-left: 10px;
  margin-top: 20px;
}

.vi {
  color: green;
  margin-left: 10px;
  margin-top: 20px;
}

.err {
  color: white;
  margin-left: 10px;
  margin-top: 20px;
}

.navElement {
  text-decoration: none;
  padding-left: 15px;
  font-size: 22px;
  color: yellow;
  border-right: 1px solid yellow;
  padding-right: 15px;
  padding-bottom: 3px;
}

#nav4 {
  border-right: none;
}

.navs {
  margin-top: 15px;
}

.postDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 35px;
  border: 2px solid yellow;
  border-radius: 10px;
}

.postLabel {
  color: yellow;
  margin-bottom: 0px;
  margin-top: 15px;
}
