.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  height: 100px;
  background-color: black;
  color: yellow;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0px;
}

.userData {
  background-color: white;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.userData table {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: black;
}

.userData tbody {
  background-color: yellow;
  font-weight: bold;
}

.userData thead {
  color: yellow;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
}

.pagination input {
  padding: 3.6px 6px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
}

.arrow {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid black;
  background-color: yellow;
  cursor: pointer;
}

.btnAddPost {
  border: black solid 5px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  margin-left: 40%;
  background-color: black;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  border: black solid 5px;
  width: 300px;
  height: 400px;
}

.postBody {
  height: 80px;
  width: 280px;
}

.btnSave {
  background-color: #9fc131;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.btnCancel {
  background-color: #ff0000;
  width: 80px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btnClear {
  background-color: orange;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.btnEdit {
  background-color: green;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
}
.modal h4 {
  color: white;
}

.tableTitle {
  color: yellow;
}

.userDropDown {
  width: 200px;
  height: 25px;
  background-color: yellow;
  border: 1px solid black;
  font-weight: bold;
  font-size: 15px;
}

.btnDelete {
  background-color: red;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
}

.btnView {
  background-color: #0047ab;
  width: 80px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 8px;
  text-decoration: none;
  vertical-align: inherit;
}

.btnView a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.iv {
  color: blue;
  margin-left: 50px;
  margin-top: 20px;
}

.v {
  color: red;
  margin-left: 10px;
  margin-top: 20px;
}

.vi {
  color: green;
  margin-left: 10px;
  margin-top: 20px;
}

.daredevil {
  color: darkred;
  margin-left: 10px;
  margin-top: 20px;
  font-style: italic;
  font-family: "Lucida Console", Monaco, monospace;
}

.err {
  color: white;
  margin-left: 10px;
  margin-top: 20px;
}

.navElement {
  text-decoration: none;
  padding-left: 15px;
  font-size: 22px;
  color: yellow;
  border-right: 1px solid yellow;
  padding-right: 15px;
  padding-bottom: 3px;
}

#nav4 {
  border-right: none;
}

.navs {
  margin-top: 15px;
}

.postDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 35px;
  border: 2px solid yellow;
  border-radius: 10px;
}

.imperialLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 35px;
}

.postLabel {
  color: yellow;
  margin-bottom: 0px;
  margin-top: 15px;
}

.loader {
  color: red;
  margin-top: 25px;
}

.comments {
  margin-top: 20px;
  height: 100%;
}

.commentsPostLabel {
  background-color: yellow;
  color: black;
  padding: 10px;
  width: 100%;
}

.comments table tbody {
  text-align: left;
  border-bottom: 1px solid yellow;
}

.comments table td {
  border-bottom: 1px solid yellow;
}

.comments table tbody tr {
  height: 100%;
}

.comments table tr {
  width: 100%;
}

.comments table th {
  padding-bottom: 10px;
  border-bottom: 3px solid yellow;
  font-size: 20px;
}

.postFunctions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: yellow;
}

.postFunctions h2 {
  color: yellow;
  padding-left: 20px;
}

.postFunctions select {
  margin-left: 30px;
  margin-top: 25px;
}

.searchBox {
  margin-top: 27px;
  height: 21px;
  width: 180px;
  margin-left: 30px;
  background-color: yellow;
  border: none;
  font-weight: bold;
  color: Black;
  font-size: 16px;
}

.btnSearchPostTitle {
  border: black solid 5px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*GALLERY CSS*/

#galleryBody {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}

#cover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#cover img {
  margin-top: 50px;
  background: url("http://www.hondaelsalvador.com/img/recall/load.gif") 50%
    no-repeat;
}

.cover {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  display: flex;
  align-self: center;
}

/* Slide show css */

#slideshow {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
}

#lb {
  background-color: red;
  margin-right: 15px;
  height: 150px;
  width: 30px;
  border-style: none;
  font-size: 25px;
}

#rb {
  background-color: red;
  margin-left: 15px;
  height: 150px;
  width: 30px;
  border-style: none;
  font-size: 25px;
}

#cb {
  background-color: black;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-style: none;
  font-size: 25px;
  color: red;
  margin-bottom: 450px;
}

#cb:hover {
  color: black;
  background-color: red;
}

#slideshowInner {
  display: flex;
  justify-content: center;
}

/*Switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 41px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid yellow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleBtn {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.galleryPageRed {
  background-color: red;
}

.galleryPageBlack {
  background-color: black;
}

.comments {
  width: 100%;
  height: 100%;
}
